@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');

:root{
    --background-main: #043873;
    --background-secondary: #FFFFFF;
    --btn-color: #4F9CF9;
    --generic-background-div: #C4DEFD;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    background-color: transparent;
    border: none;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

body{
    background-color: var(--background-main);
    color: #FFFFFF;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

header{
    height: 56px;
    display: flex;
    justify-content: center;
}

header div#header-container{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img#logo{
    width: 134px;
    height: 24px;
}

div#header-container div.menu{
    width: 80%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 30px;
    background-color: var(--background-secondary);
    padding: 30px;
}

div.overlay.open{
    display: block;
}

div#header-container div.menu.right{
    right: -100%;
    transition: right .3s;
}

div#header-container div.menu.right.open{
    right: 0;
}

div#header-container a{
    font-size: 1.125rem;
    color: #000000;
    line-height: 23px;
}

div#header-container a:nth-child(6){
    color: #043873;
    border-radius: 8px;
    padding: 16px 40px;
    background-color: #FFE492;
}

div#header-container a:nth-child(7){
    border-radius: 8px;
    padding: 18px;
    background-color: var(--btn-color);
    color: #FFFFFF;
    font-size: 1rem;
}

div.overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    left: 0;
    bottom: 0;
    top: 0;
    display: none;
    transition: all .1s;
}

button.menu-hamburguer{
    display: flex;
}

section#hero-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("./assets/img/element.svg");
    background-position: bottom;
}

div#hero-section-container{
    width: 90%;
}


div#hero-section-container h1{
    font-size: 2.25rem;
    text-align: center;
}

div#hero-section-heading{
    margin: 80px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div#hero-section-heading p,
div#extension-section-container p{
    text-align: center;
    margin: 40px 0;
    line-height: 30px;
    font-size: 1.125rem;
}

div#hero-section-heading a,
div#project-management a,
div#work-together a,
div#extension-section-container a,
div#customise-section-container a{
    background-color: var(--btn-color);
    padding: 20px 40px;
    border-radius: 8px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

div#hero-section-heading div{
    width: 100%;
    height: 191px;
    background-color: var(--generic-background-div);
    margin-top: 100px;
}

section#work-management{
    background-image: url("./assets/img/element-2.svg");
    background-repeat: no-repeat;
    background-position-y: 40px;
    background-color: var(--background-secondary);
    display: flex;
    flex-direction: column;
    align-items: center;
}

div#work-management-container{
    width: 90%;
    margin: 80px 0;
}

div#work-management-container p{
    color: #000000;
    text-align: center;
    line-height: 30px;
    font-size: 1.125rem;
}

div#project-management,
div#work-together,
div#extension-section-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}


div#project-management a,
div#work-together a{
    width: 70%;
    margin: 50px 0;
}

div#project-management div{
    width: 100%;
    height: 177px;
    background-color: var(--generic-background-div);
}

div#work-together{
    margin: 50px 0;
}

div#work-together > img{
    width: 97%;
}

section#extension-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 80px 0;
}

div#extension-section-container{
    width: 90%;
}

div#extension-section-container p{
    margin: 0;
    margin-top: 20px;
}

div#extension-section-container a{
    width: 60%;
    margin: 60px 0;
}

div#extension-section-container div{
    background-color: var(--generic-background-div);
    width: 100%;
    height: 199px;
}

section#customise-section{
    background-color: var(--background-secondary);
    display: flex;
    flex-direction: column;
    align-items: center;
}

div#customise-section-container{
    width: 90%;
    margin: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div#customise-section-container div{
    width: 100%;
    height: 215px;
    background-color: var(--generic-background-div);
    margin-bottom: 60px;
}

div#customise-section-container p{
    font-size: 1.125rem;
    color: #000000;
    text-align: center;
    line-height: 23px;
    font-family: "Montserrat", sans-serif;
}

div#customise-section-container a{
    margin-top: 60px;
    width: 55%;
}

section#pricing-section{
    background-color: var(--background-secondary);
    display: flex;
    flex-direction: column;
    align-items: center;
}

div#pricing-section-container{
    width: 90%;
    margin: 80px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div#pricing-section-container > p{
    color: #000000;
    font-size: 1.125rem;
    line-height: 30px;
    text-align: center;
}

div#plans{
    margin: 60px 0;
}

div.choice{
    background-color: var(--background-main);
    padding: 20px;
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 10px;
}

div.choice p.choice-title{
    line-height: 36px;
    font-weight: 600;
    font-size: 1.5rem;
}

div.choice h4.choice-price{
    font-size: 2.25rem;
    margin: 25px 0;
}

div.choice ul{
    margin: 25px 0;
}

div.choice ul li{
    display: flex;
    list-style: none;
    align-items: center;
}

div.choice ul li img{
    margin-right: 19px;
}

div.choice ul li:nth-child(2),
div.choice ul li:nth-child(3),
div.choice ul li:nth-child(4),
div.choice ul li:nth-child(5){
    margin: 28px 0;
}

div.choice a{
    background-color: var(--btn-color);
    padding: 16px 40px;
    border-radius: 8px;
}

section#your-work{
    margin: 100px 0 140px 0;
    display: flex;
    justify-content: center;
}

div#your-work-container{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

div#your-work-container a{
    background-color: var(--btn-color);
    padding: 20px 40px;
    border-radius: 8px;
    margin-top: 60px;
}

div#your-work-container p{
    line-height: 30px;
    font-size: 1.125rem;
}

section#your-data{
    display: flex;
    justify-content: center;
    background-color: var(--background-secondary);
}

div#your-data-container{
    width: 90%;
    margin: 80px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div#your-data-container p{
    color: #000000;
    text-align: center;
    line-height: 30px;
    font-size: 1.125rem;
    margin-top: 24px;
}

div#your-data-container a,
div#apps-section-container a{
    background-color: var(--btn-color);
    padding: 20px 40px;
    border-radius: 8px;
    margin-top: 60px;
}

section#sponsors-section{
    background-color: var(--background-secondary);
    display: flex;
    justify-content: center;
}

div#sponsors-section-container{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 80px 0;
    gap: 100px;
}

section#apps-section{
    display: flex;
    justify-content: center;
    background-image: url("./assets/img/element.svg");
    background-position: center;
    background-repeat: no-repeat;
}

div#apps-section-container{
    margin: 80px 0;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div#apps-section-container h4{
    font-size: 2.25rem;
    text-align: center;
    margin: 100px 0 24px 0;
}

div#apps-section-container p{
    font-size: 1.125rem;
    text-align: center;
    line-height: 30px;
}

section#testimonial-section{
    background-color: var(--background-secondary);
    display: flex;
    justify-content: center;
}

div#testimonial-section-container{
    margin: 100px 0;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div#cards{
    margin: 60px 0;
}

div#card-client{
    color: #000000;
    padding: 20px;
    box-shadow: 15px 10px 50px rgb(0, 0, 0, 0.1);
    border-radius: 10px;
}

div#card-client > p{
    margin: 32px 0 40px 0;
    line-height: 20px;
}

div#card-client > img{
    margin: 40px 0 24px 0;
    width: 65px;
}

div#client-description p:first-child{
    font-weight: bold;
    margin-bottom: 15px;
}

div#client-description p:last-child{
    font-weight: 1.125rem;
    line-height: 30px;
}

section#free-trial{
    display: flex;
    justify-content: center;
}

div#free-trial-container{
    width: 90%;
    margin: 100px 0 32px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

div#free-trial-container h4{
    font-size: 2.5rem;
    margin-bottom: 24px;
    line-height: 52px;
}

div#free-trial-container p{
    line-height: 30px;
    font-size: 1.125rem;
}

div#free-trial-container a{
    background-color: var(--btn-color);
    padding: 20px 40px;
    border-radius: 8px;
    margin: 40px 0;
}

div#logos{
    display: flex;
    gap: 40px;
    margin-top: 40px;
}

div#logos img{
    width: 35px;
}

footer{
    display: flex;
    justify-content: center;
}

div#footer-container{
    width: 90%;
    margin: 140px 0 32px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div#footer-container > p{
    margin: 24px 0 80px 0;
    text-align: center;
    line-height: 30px;
    font-size: 1.125rem;
}

div#footer-guides{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
}

div#footer-product,
div#footer-resources,
div#footer-company{
    gap: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div#footer-product h4,
div#footer-resources h4,
div#footer-company h4{
    font-size: 1.125rem;
}

div#footer-product p,
div#footer-resources p,
div#footer-company p{
    font-size: 1.125rem;
    line-height: 30px;
}

div#footer-product p:nth-child(2){
    color: #ff0;
}

div#try-btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 23px;
    width: 70%;
}

div#try-btn h5{
    line-height: 36px;
    font-size: 1.75rem;
}

div#try-btn p{
    line-height: 30px;
    font-size: 1.125rem;
    text-align: center;
}

div#try-btn a{
    background-color: var(--btn-color);
    padding: 20px 40px;
    border-radius: 8px;
}

div#terms{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

div#terms label{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

div#terms label select{
    background-color: transparent;
    border: none;
    color: #FFFFFF;
    font-size: 1rem;
}

div#terms p{
    line-height: 20px;
}

div#footer-container hr{
    width: 100%;
    margin: 20px 0;
}

div#social-media{
    display: flex;
    gap: 32px;
}