@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');

:root{
    --background-main: #043873;
    --background-secondary: #FFFFFF;
    --btn-color: #4F9CF9;
    --generic-background-div: #C4DEFD;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    background-color: transparent;
    border: none;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

body{
    background-color: var(--background-main);
    color: #FFFFFF;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

header{
    height: 56px;
    display: flex;
    justify-content: center;
}

header div#header-container{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img#logo{
    width: 134px;
    height: 24px;
}

div#header-container div.menu{
    width: 80%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 30px;
    background-color: var(--background-secondary);
    padding: 30px;
}

div.overlay.open{
    display: block;
}

div#header-container div.menu.right{
    right: -100%;
    transition: right .3s;
}

div#header-container div.menu.right.open{
    right: 0;
}

div#header-container a{
    font-size: 1.125rem;
    color: #000000;
    line-height: 23px;
}

div#header-container div#header-btn{
    display: flex;
    align-items: center;
    gap: 26px;
}

div#header-container a:nth-child(6),
div#header-container div#header-btn a:nth-child(1){
    color: #043873;
    border-radius: 8px;
    padding: 16px 40px;
    background-color: #FFE492;
}

div#header-container a:nth-child(7),
div#header-container div#header-btn a:nth-child(2){
    border-radius: 8px;
    padding: 18px;
    background-color: var(--btn-color);
    color: #FFFFFF;
    font-size: 1rem;
}

div#header-container div#header-btn a:nth-child(1),
div#header-container div#header-btn a:nth-child(2){
    display: none;
}

div.overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    left: 0;
    bottom: 0;
    top: 0;
    display: none;
    transition: all .1s;
}

button.menu-hamburguer{
    display: flex;
    align-items: center;
}

button.menu-hamburguer a{
    display: none;
}

section#hero-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("./assets/img/element_hero_mobile.svg");
    background-position: bottom;
}

div#hero-section-container{
    display: flex;
    width: 90%;
    justify-content: center;
}


div#hero-section-container h1{
    font-size: 2.25rem;
    text-align: center;
}

div#hero-section-heading{
    margin: 80px 0;
    text-align: center;
}

div#hero-section-heading div#hero-infos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

div#hero-section-heading p,
div#extension-section-container p{
    text-align: center;
    margin: 24px 0 60px 0;
    line-height: 30px;
    font-size: 1.125rem;
}

div#hero-section-heading a,
div#project-management a,
div#work-together a,
div#extension-section-container a,
div#customise-section-container a{
    background-color: var(--btn-color);
    padding: 20px 40px;
    border-radius: 8px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

div#hero-section-heading div:last-child{
    width: 100%;
    height: 191px;
    background-color: var(--generic-background-div);
    margin-top: 100px;
}

section#work-management{
    background-image: url("./assets/img/element_work_mobile.svg");
    background-repeat: no-repeat;
    background-position-y: 40px;
    background-color: var(--background-secondary);
    display: flex;
    flex-direction: column;
    align-items: center;
}

div#work-management-container{
    width: 90%;
    margin: 80px 0;
}

div#work-management-container p{
    color: #000000;
    text-align: center;
    line-height: 30px;
    font-size: 1.125rem;
}

div#project-management,
div#work-together,
div#extension-section-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

div#project-management div#project-infos{
    display: flex;
    flex-direction: column;
    align-items: center;
}


div#project-management a,
div#work-together a{
    width: 70%;
    margin: 60px 0;
}

div#project-management div:last-child{
    width: 100%;
    height: 177px;
    background-color: var(--generic-background-div);
}

div#work-together{
    margin: 50px 0;
}

div#work-together div#work-infos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

div#work-together > img{
    width: 97%;
}

section#extension-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 80px 0;
}

div#extension-section-container{
    width: 90%;
}

div#extension-section-container div#extension-infos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

div#extension-section-container p{
    margin: 0;
    margin-top: 24px;
}

div#extension-section-container a{
    width: 60%;
    margin: 60px 0;
}

div#extension-section-container div:last-child{
    background-color: var(--generic-background-div);
    width: 100%;
    height: 199px;
}

section#customise-section{
    background-color: var(--background-secondary);
    display: flex;
    flex-direction: column;
    align-items: center;
}

div#customise-section-container{
    width: 90%;
    margin: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div#customise-section-container div#customise-infos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

div#customise-section-container div:first-child{
    width: 100%;
    height: 215px;
    background-color: var(--generic-background-div);
    margin-bottom: 60px;
}

div#customise-section-container p{
    font-size: 1.125rem;
    color: #000000;
    text-align: center;
    line-height: 23px;
    font-family: "Montserrat", sans-serif;
    margin-top: 24px;
}

div#customise-section-container a{
    margin-top: 60px;
    width: 55%;
}

section#pricing-section{
    background-color: var(--background-secondary);
    display: flex;
    flex-direction: column;
    align-items: center;
}

div#pricing-section-container{
    width: 90%;
    margin: 80px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div#pricing-section-container > p{
    color: #000000;
    font-size: 1.125rem;
    line-height: 30px;
    text-align: center;
}

div#plans{
    margin: 60px 0;
    gap: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    width: 100vw;
}

div#plans div#plan-free,
div#plans div#plan-organization{
    display: none;
}

div.choice{
    background-color: var(--background-main);
    padding: 20px;
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 10px;
    text-wrap: pretty;
}

div.choice p.choice-title{
    line-height: 36px;
    font-weight: 600;
    font-size: 1.5rem;
}

div.choice h4.choice-price{
    font-size: 2.25rem;
    color: #FFE492;
    margin: 25px 0;
}

div.choice ul{
    margin: 25px 0;
    width: 100%;
}

div.choice ul li{
    display: flex;
    list-style: none;
    align-items: center;
}

div.choice ul li img{
    margin-right: 19px;
}

div.choice ul li:nth-child(2),
div.choice ul li:nth-child(3),
div.choice ul li:nth-child(4),
div.choice ul li:nth-child(5){
    margin: 28px 0;
}

div.choice a{
    background-color: var(--btn-color);
    padding: 16px 40px;
    border-radius: 8px;
}

section#your-work{
    display: flex;
    justify-content: center;
}

div#your-work-container{
    margin: 100px 0 140px 0;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

div#your-work-container a{
    background-color: var(--btn-color);
    padding: 20px 40px;
    border-radius: 8px;
    margin-top: 60px;
}

div#your-work-container p{
    line-height: 30px;
    font-size: 1.125rem;
}

section#your-data{
    display: flex;
    justify-content: center;
    background-color: var(--background-secondary);
}

div#your-data-container{
    width: 90%;
    margin: 80px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div#your-data-container div#your-data-infos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

div#your-data-container p{
    color: #000000;
    text-align: center;
    line-height: 30px;
    font-size: 1.125rem;
    margin-top: 24px;
}

div#your-data-container a,
div#apps-section-container a{
    background-color: var(--btn-color);
    padding: 20px 40px;
    border-radius: 8px;
    margin-top: 60px;
}

section#sponsors-section{
    background-color: var(--background-secondary);
    display: flex;
    flex-direction: column;
    align-items: center;
}

section#sponsors-section > img{
    width: 90%;
}

div#sponsors-section-container{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 80px 0;
    gap: 100px;
}

div#sponsors-section-container img:nth-child(2){
    width: 75%;
}

div#sponsors-section-container img:nth-child(3){
    width: 65%;
}

div#sponsors-section-container img:nth-child(4){
    width: 45%;
}

section#apps-section{
    display: flex;
    justify-content: center;
    background-image: url("./assets/img/element_hero_mobile.svg");
    background-position: center;
    background-repeat: no-repeat;
}

div#apps-section-container{
    margin: 80px 0;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div#apps-section-container div#apps-infos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

div#apps-section-container h4{
    font-size: 2.25rem;
    text-align: center;
    margin: 100px 0 24px 0;
}

div#apps-section-container p{
    font-size: 1.125rem;
    text-align: center;
    line-height: 30px;
}

section#testimonial-section{
    background-color: var(--background-secondary);
    display: flex;
    justify-content: center;
}

div#testimonial-section-container{
    margin: 100px 0;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div#cards{
    margin: 60px 0;
    gap: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    width: 100vw;
}

div#card-client{
    text-wrap: pretty;
    width: 90%;
    color: #000000;
    padding: 20px;
    box-shadow: 15px 10px 50px rgb(0, 0, 0, 0.1);
    border-radius: 10px;
}

div#card-client:nth-child(1),
div#card-client:nth-child(2){
    display: none;
}

div#card-client > p{
    margin: 32px 0 40px 0;
    line-height: 20px;
}

div#card-client > img:first-child{
    margin: 20px 0 32px 0;
    width: 65px;
}

div#card-client > img:nth-child(4){
    margin: 40px 0 24px 0;
    width: 65px;
}

div#client-description p:first-child{
    font-weight: bold;
    margin-bottom: 15px;
}

div#client-description p:last-child{
    font-weight: 1.125rem;
    line-height: 30px;
}

section#free-trial{
    display: flex;
    justify-content: center;
}

div#free-trial-container{
    width: 90%;
    margin: 100px 0 32px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

div#free-trial-container h4{
    font-size: 2.5rem;
    margin-bottom: 24px;
    line-height: 52px;
}

div#free-trial-container p{
    line-height: 30px;
    font-size: 1.125rem;
}

div#free-trial-container a{
    background-color: var(--btn-color);
    padding: 20px 40px;
    border-radius: 8px;
    margin: 40px 0;
}

div#logos{
    display: flex;
    gap: 40px;
    margin-top: 40px;
}

div#logos img{
    width: 35px;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div#footer-container{
    width: 90%;
    margin: 140px 0 80px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div#footer-slogan{
    display: flex;
    flex-direction: column;
    align-items: center;
}

div#footer-container div#footer-slogan p{
    margin: 24px 0 80px 0;
    text-align: center;
    line-height: 30px;
    font-size: 1.125rem;
}

div#footer-guides{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
}

div#footer-product,
div#footer-resources,
div#footer-company{
    gap: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div#footer-product h4,
div#footer-resources h4,
div#footer-company h4{
    font-size: 1.125rem;
}

div#footer-product p,
div#footer-resources p,
div#footer-company p{
    font-size: 1.125rem;
    line-height: 30px;
}

div#footer-product p:nth-child(2){
    color: #ff0;
}

div#try-btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 23px;
    width: 70%;
}

div#try-btn h5{
    line-height: 36px;
    font-size: 1.75rem;
}

div#try-btn p{
    line-height: 30px;
    font-size: 1.125rem;
    text-align: center;
}

div#try-btn a{
    background-color: var(--btn-color);
    padding: 20px 40px;
    border-radius: 8px;
}

div#terms{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

div#btm{
    display: flex;
    width: 90%;
    flex-direction: column;
    align-items: center;
}

div#terms label{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

div#terms label select{
    background-color: transparent;
    border: none;
    color: #FFFFFF;
    font-size: 1rem;
}

div#terms p{
    line-height: 20px;
}

div#social-media{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 32px;
    margin-bottom: 32px;
    border-top: 1px solid #2E4E73;
    padding-top: 20px;
}

@media (min-width: 768px) {
    header{
        height: 66px;
    }

    header img#logo{
        width: 191px;
        height: 34px;
    }

    button.menu-hamburguer{
        height: 34px;
    }

    button.menu-hamburguer img{
        height: 100%;
    }

    section#hero-section{
        background-image: url("./assets/img/element_hero_tablet.svg");
        background-repeat: no-repeat;
        background-position-y: 80px;
    }

    div#hero-section-heading{
        margin: 140px 0 100px 0;
        width: 80%;
    }

    div#hero-section-container h1{
        font-size: 3.375rem;
    }

    div#hero-section-heading a{
        max-width: 232px;
    }

    div#hero-section-heading div:last-child{
        height: 367px;
    }
}

@media (min-width: 768px) {
    div#work-management-container {
        width: 95%;
        margin: 10px 0 280px 0;
    }

    div#project-management a{
        width: 190px;
    }

    div#project-management div:last-child{
        width: 561px;
        height: 349px;
    }

    div#work-together a{
        width: 177px;
        margin: 60px 0 100px 0;
    }

    div#work-together > img {
        width: 454px;
    }

    div#extension-section-container {
        width: 95%;
    }

    div#extension-section-container a {
        width: 164px;
    }

    div#extension-section-container div:last-child {
        width: 557px;
        height: 389px;
    }

    section#extension-section {
        margin: 30px 0 100px 0;
    }

    div#hero-section-heading a,
    div#project-management a,
    div#work-together a,
    div#extension-section-container a,
    div#customise-section-container a{
        justify-content: space-between;
    }

    div#customise-section-container{
        margin: 140px 0;
    }

    div#customise-section-container div:first-child {
        width: 534px;
        height: 397px;
        margin-bottom: 0;
    }

    div#customise-section-container {
        width: 95%;
    }

    div#customise-section-container p{
        margin-top: 0;
    }

    div#customise-section-container a {
        width: 176px;
    }

    div#pricing-section-container {
        width: 90%;
        margin: 80px 0 0 0;
    }

    div#plans {
        margin: 60px 0 140px 0;
    }

    section#pricing-section img#slider{
        display: none;
    }

    div.choice {
        padding: 80px 44px;
        min-width: 472px;
        text-wrap: pretty;
    }

    div#plans div#plan-free,
    div#plans div#plan-organization{
        display: flex;
        background-color: transparent;
        border: 1px solid #FFE492;
        color: #000000;
        height: 70%;
        padding: 40px 44px;
    }

    div#pricing-section-container > p{
        margin-top: 30px;
    }

    section#your-work{
        background-image: url("./assets/img/element_work_tablet.png");
        background-repeat: no-repeat;
    }

    div#your-work-container {
        width: 95%;
        margin-top: 0;
    }

    div#your-data-container {
        margin: 140px 0;
    }

    div#your-data-container > img:nth-child(1){
        width: 513px;
        height: 287px;
    }

    div#your-data-container img:nth-child(2){
        height: 65px;
    }

    div#sponsors-section-container {
        margin: 60px 0 140px 0;
    }

    section#sponsors-section > img{
        height: 65px;
        width: auto;
    }

    div#sponsors-section-container img:nth-child(1n+2){
        width: 40%;
    }

    section#apps-section{
        background-image: url("./assets/img/element_apps_tablet.svg");
        background-position: top;
    }

    div#apps-section-container {
        margin: 140px 0;
    }

    div#apps-section-container > img{
        width: 485px;
    }

    div#apps-section-container h4{
        font-size: 3.375rem;
    }

    div#apps-section-container a{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 205px;
        height: 63px;
    }

    div#testimonial-section-container{
        margin: 0 0 100px 0;
    }

    div#testimonial-section-container{
        margin-top: 0;
    }

    div#card-client {
        min-width: 341px;
        padding: 80px 44px;
        text-wrap: pretty;
    }
    
    div#card-client:nth-child(1), div#card-client:nth-child(2) {
        display: block;
    }

    div#free-trial-container{
        width: 95%;
        margin: 140px 0 0 0;
    }

    div#free-trial-container h4{
        font-size: 3.375rem;
    }

    div#free-trial-container a{
        width: 241px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    div#free-trial-container p {
        line-height: 32px;
        font-size: 1.5rem;
    }

    div#logos img {
        width: 60px;
    }

    div#footer-container{
        align-items: flex-start;
        width: 95%;
    }

    div#footer-container div#footer-slogan{
        align-items: flex-start;
    }

    div#footer-container div#footer-slogan img{
        width: 251px;
        height: 62px;
    }

    div#footer-container div#footer-slogan p{
        text-align: left;
        margin: 24px 0 100px 0;
    }

    div#footer-guides{
        align-items: flex-start;
        gap: 100px;
        width: 100%;
    }

    div#footer-product,
    div#footer-resources,
    div#footer-company{
        align-items: flex-start;
    }

    div#btm{
        width: 95%;
    }

    div#try-btn{
        width: 30%;
    }

    div#try-btn p{
        text-align: left;
    }

    div#try-btn a {
        width: 187px;
    }

    div#terms{
        flex-direction: row;
        justify-content: space-between;
    }
    
    div#social-media{
        justify-content: flex-start;
    }
}

@media (min-width: 1152px) {
    header{
        height: 92px;
    }

    header div#header-container{
        width: 95%;
    }

    section#hero-section{
        background-image: url("./assets/img/element_hero_desktop.svg");
        background-position: center;
    }

    div#hero-section-container{
        width: 95%;
    }

    div#hero-section-heading{
        width: 100%;
        margin: 140px 0;
        display: flex;
        justify-content: center;
    }

    div#hero-section-container h1{
        font-size: 4rem;
    }

    div#hero-section-heading a {
        max-width: 219px;
    }

    div#hero-section-heading div:last-child{
        margin-top: 0;
        width: 526px;
    }

    div#hero-section-heading div#hero-infos{
        width: 50%;
        align-items: flex-start;
    }

    div#hero-section-container h1,
    div#hero-section-container p{
        text-align: left;
    }

    div#project-management{
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 100px;
    }

    div#work-management-container{
        margin: 140px 0;
    }

    div#project-management div#project-infos{
        width: 40%;
        align-items: flex-start;
    }

    div#work-management-container p{
        text-align: left;
    }

    div#project-management div:last-child {
        width: 527px;
        height: 328px;
    }

    div#project-management a{
        margin-bottom: 0;
    }

    div#work-together{
        flex-direction: row-reverse;
        align-items: center;
        gap: 40px;
    }

    div#work-together div#work-infos{
        align-items: flex-start;
    }

    div#work-together a{
        margin-bottom: 0;
    }

    div#work-together div#work-infos p{
        margin-top: 24px;
    }

    div#work-together > img{
        width: 528px;
    }

    div#extension-section-container {
        flex-direction: row;
        gap: 98px;
    }

    section#extension-section {
        margin: 140px 0;
    }

    div#extension-section-container div#extension-infos{
        align-items: flex-start;
        width: 60%;
    }

    div#extension-section-container p{
        text-align: left;
    }

    div#extension-section-container a{
        margin-bottom: 0;
    }

    div#customise-section-container{
        flex-direction: row;
        gap: 60px;
    }

    div#customise-section-container div#customise-infos{
        align-items: flex-start;
        width: 55%;
    }

    div#customise-section-container p{
        text-align: left;
        margin-top: 24px;
    }

    div#pricing-section-container {
        margin: 140px 0;
    }

    div#plans{
        padding: 0 5%;
        margin-bottom: 0;
    }

    div.choice{
        min-width: 341px;
    }

    section#your-work{
        background-image: none;
    }

    div#your-work-container{
        margin-top: 140px;
        padding-right: 38%;
    }

    div#your-work-container p{
        text-align: center;
        margin-top: 24px;
    }

    div#your-work-container a {
        display: flex;
        width: 195px;
        height: 63px;
        justify-content: space-around;
        align-items: center;
    }

    div#your-data-container {
        flex-direction: row-reverse;
        width: 95%;
    }

    div#your-data-container div#your-data-infos{
        align-items: flex-start;
    }

    div#your-data-container div#your-data-infos > img{
        width: 95%;
    }

    div#your-data-container div#your-data-infos p{
        margin-top: 0;
        text-align: left;
    }

    div#your-data-container > img:nth-child(1){
        width: 562px;
        height: 314px;
    }
    
    section#sponsors-section{
        padding: 140px 0;
    }

    section#sponsors-section > img{
        height: 85px;
    }

    div#sponsors-section-container{
        gap: 0;
        margin: 100px 0 0 0;
        flex-direction: row;
        justify-content: space-between;
    }

    div#sponsors-section-container img:nth-child(2){
        width: 287px;
    }

    div#sponsors-section-container img:nth-child(3){
        width: 280px;
    }

    div#sponsors-section-container img:nth-child(4){
        width: 211px;
    }

    div#apps-section-container{
        flex-direction: row;
        gap: 100px;
        width: 95%;
    }

    div#apps-section-container > img {
        width: 528px;
    }

    div#apps-section-container div#apps-infos{
        align-items: flex-start;
    }

    div#apps-section-container div#apps-infos h4{
        font-size: 4rem;
        margin-top: 0;
    }

    div#apps-section-container div#apps-infos h4,
    div#apps-section-container div#apps-infos p{
        text-align: left;
    }

    section#apps-section {
        background-image: url("./assets/img/element_apps_desktop.svg");
        background-position-y: 10px;
    }

    div#testimonial-section-container{
        margin: 140px 0;
    }

    div#cards {
        padding: 0 5%;
    }

    div#free-trial-container{
        align-items: center;
        width: 608px;
        margin-bottom: 32px;
    }

    div#free-trial-container h4{
        font-size: 4.5rem;
        line-height: normal;
        text-align: center;
    }

    div#free-trial-container p{
        text-align: center;
    }

    div#footer-container,
    div#footer-guides{
        flex-direction: row;
    }

    div#footer-container{
        width: 95%;
        justify-content: space-between;
    }

    div#footer-container div#footer-slogan{
        width: 240px;
    }

    div#footer-guides{
        gap: 0;
        justify-content: space-between;
        max-width: 780px;
    }

    div#footer-container div#footer-slogan img{
        height: auto;
    }

    div#footer-container div#footer-slogan p{
        margin: 15px 0 0 0;
    }

    div#footer-container div#footer-slogan br{
        display: none;
    }

    div#try-btn{
        align-items: flex-start;
        width: 35%;
    }

    div#try-btn p br{
        display: none;
    }

    div#btm{
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        border-top: 1px solid #2E4E73;
        padding: 20px 0;
    }

    div#terms{
        width: auto;
        gap: 60px;
    }

    div#social-media{
        width: 105px;
        border: none;
        padding: 0;
    }

    button.menu-hamburguer a{
        display: block;
    }

    button.menu-hamburguer > img{
        width: 42px;
        height: 24px;
    }

    div#header-container div#header-btn a:nth-child(1),
    div#header-container div#header-btn a:nth-child(2){
        display: block;
    }

    div#header-container a:nth-child(6),
    div#header-container a:nth-child(7){
        display: none;
    }

}

@media (min-width: 1440px) {
    div#header-container div.menu.right {
        flex-direction: row;
        width: auto;
        margin: 0 64px 0 auto;
        gap: 32px;
    }
    
    div#header-container div.menu {
        height: auto;
        position: initial;
        background-color: transparent;
    }
    
    div#header-container div.menu.right a:first-child{
        display: none;
    }

    div#header-container a{
        color: #FFFFFF;
    }

    button.menu-hamburguer{
        display: none;
    }

    section#hero-section {
        background-image: url("./assets/img/element_hero_desktopV2.svg");
    }

    div#hero-section-heading div:last-child{
        width: 685px;
        height: 456px;
    }

    div#hero-section-heading div#hero-infos{
        justify-content: center;
    }

    
    div#hero-section-container{
        width: 97%;
    }

    div#hero-section-heading{
        margin: 100px 0;
    }

    div#work-management-container{
        width: 96%;
    }

    div#project-management div#project-infos{
        width: 657px;
    }

    div#project-management div:last-child{
        height: 448px;
        width: 719px;
    }

    div#work-together > img{
        width: 583px;
    }

    div#work-together{
        gap: 160px;
        margin-bottom: 0;
    }

    div#work-together a{
        width: 186px;
        height: 63px;
    }

    div#extension-section-container p{
        margin-top: 0;
    }

    div#extension-section-container div#extension-infos{
        width: 45%;
    }

    div#extension-section-container div:last-child{
        height: 479px;
        width: 686px;
    }

    div#customise-section-container{
        width: 96%;
    }

    div#customise-section-container div:first-child{
        height: 499px;
        width: 670px;
    }

    div#customise-section-container div#customise-infos{
        width: 646px;
    }

    div#customise-section-container p{
        line-height: 30px;
    }

    div#pricing-section-container > p{
        width: 77%;
    }

    div#pricing-section-container picture img{
        height: 87px;
    }

    div#plans {
        padding: 0 2%;
    }

    section#your-work{
        background-image: url("./assets/img/element_work_desktopV2.svg");
        background-position: left;
    }

    div#your-work-container{
        width: 80%;
        padding: 0;
        align-items: center;
    }

    div#your-data-container div#your-data-infos{
        width: 695px;
    }

    div#your-data-container > img:nth-child(1){
        width: 681px;
        height: 381px;
    }

    div#apps-section-container > img{
        width: 582px;
    }

    section#apps-section{
        background-image: url("./assets/img/element_apps_desktopV2.svg");
    }

    div#cards {
        padding: 0 2%;
    }

    div#footer-guides{
        max-width: max-content;
        gap: 100px;
        margin-right: 50px;
    }

    div#try-btn{
        width: 259px;
    }
}

@media (min-width: 1920px) {
    section#hero-section{
        background-image: url("./assets/img/element_hero_desktopV3.svg");
    }

    div#hero-section-heading{
        margin: 140px 0;
        justify-content: space-between;
    }

    div#hero-section-heading div:last-child{
        width: 824px;
        height: 524px;
    }

    div#hero-section-heading div#hero-infos{
        width: 656px;
    }

    header div#header-container,
    div#hero-section-heading,
    div#work-management-container{
        max-width: 1480px;
    }

    div#work-management-container p{
        margin-top: 20px;
    }

    div#work-together {
        gap: 100px;
    }

    div#work-together > img{
        width: 710px;
    }

    div#extension-section-container{
        align-items: flex-start;
        max-width: 1480px;
    }

    div#customise-section-container{
        max-width: 1480px;
        align-items: flex-start;
        justify-content: space-between;
    }

    div#customise-section-container div:first-child{
        height: 532px;
        width: 714px;
    }

    div#customise-section-container div#customise-infos{
        width: 730px;
    }

    div#pricing-section-container{
        max-width: 1480px;
        margin-top: 0;
    }

    div#plans{
        width: 100%;
        padding: 0;
    }

    div#your-work-container{
        width: 60%;
        margin-top: 0;
    }

    section#your-work{
        background-image: url("./assets/img/element_work_desktopV3.svg")
    }
}